<footer class="bg-white rounded-lg shadow m-4 dark:bg-slate-100">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center">
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400" >© 2024 desarrollado por <a
                href="https://www.linkedin.com/in/juli%C3%A1n-santiago-cristancho-valencia-4211032a0/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bo9ICB1RVRUmcodTSN8uH6g%3D%3D"
                class="hover:underline"> Julian Cristancho</a>.
        </span>
    </div>
</footer>